<!DOCTYPE html>
<html>
    <head>
        <title>The Solar System</title>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
    </head>
    <body>